In [1]:
# import libraries
import piplite
await piplite.install('seaborn')

import pandas as pd
import numpy as np


import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# open the first file
url = r"Data/EloRatings.csv"
df1 = pd.read_csv(url) #to loud file
df1

              date       club country      elo
0       2000-07-01     Aachen     GER  1453.60
1       2000-07-01    Aalborg     DEN  1482.61
2       2000-07-01      Aalst     BEL  1337.53
3       2000-07-01     Aarhus     DEN  1381.46
4       2000-07-01   Aberdeen     SCO  1360.43
...            ...        ...     ...      ...
245028  2025-06-01  Wolfsburg     GER  1645.72
245029  2025-06-01     Wolves     ENG  1735.76
245030  2025-06-01   Zaragoza     ESP  1450.09
245031  2025-06-01      Zenit     RUS  1654.94
245032  2025-06-01     Zwolle     NED  1462.81

[245033 rows x 4 columns]

In [3]:
# Data Informations in file 1
df1.info()
df1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245033 entries, 0 to 245032
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   date     245033 non-null  object
 1   club     245033 non-null  object
 2   country  245033 non-null  object
 3   elo      245033 non-null  float64
dtypes: float64(1), object(3)
memory usage: 4.7+ MB

                 elo
count  245033.000000
mean     1505.072948
std       155.587668
min      1069.680000
25%      1394.720000
50%      1486.820000
75%      1606.010000
max      2107.480000

In [4]:
# Data Understanding in file 1
print("Missing Values:\n", df1.isnull().sum())
print("\nDuplicate Rows:", df1.duplicated().sum())

Missing Values:
 date       0
club       0
country    0
elo        0
dtype: int64

Duplicate Rows: 0

In [5]:
# Data Types in file 1
df1.dtypes

date        object
club        object
country     object
elo        float64
dtype: object

In [6]:
# View columns in file 1
df1.columns

Index(['date', 'club', 'country', 'elo'], dtype='object')

In [7]:
# Check values in Column1 in file 1
df1["date"].unique()

array(['2000-07-01', '2000-07-15', '2000-08-01', '2000-08-15',
       '2000-09-01', '2000-09-15', '2000-10-01', '2000-10-15',
       '2000-11-01', '2000-11-15', '2000-12-01', '2000-12-15',
       '2001-01-01', '2001-01-15', '2001-02-01', '2001-02-15',
       '2001-03-01', '2001-03-15', '2001-04-01', '2001-04-15',
       '2001-05-01', '2001-05-15', '2001-06-01', '2001-06-15',
       '2001-07-01', '2001-07-15', '2001-08-01', '2001-08-15',
       '2001-09-01', '2001-09-15', '2001-10-01', '2001-10-15',
       '2001-11-01', '2001-11-15', '2001-12-01', '2001-12-15',
       '2002-01-01', '2002-01-15', '2002-02-01', '2002-02-15',
       '2002-03-01', '2002-03-15', '2002-04-01', '2002-04-15',
       '2002-05-01', '2002-05-15', '2002-06-01', '2002-06-15',
       '2002-07-01', '2002-07-15', '2002-08-01', '2002-08-15',
       '2002-09-01', '2002-09-15', '2002-10-01', '2002-10-15',
       '2002-11-01', '2002-11-15', '2002-12-01', '2002-12-15',
       '2003-01-01', '2003-01-15', '2003-02-01', '2003-02-15',
       '2003-03-01', '2003-03-15', '2003-04-01', '2003-04-15',
       '2003-05-01', '2003-05-15', '2003-06-01', '2003-06-15',
       '2003-07-01', '2003-07-15', '2003-08-01', '2003-08-15',
       '2003-09-01', '2003-09-15', '2003-10-01', '2003-10-15',
       '2003-11-01', '2003-11-15', '2003-12-01', '2003-12-15',
       '2004-01-01', '2004-01-15', '2004-02-01', '2004-02-15',
       '2004-03-01', '2004-03-15', '2004-04-01', '2004-04-15',
       '2004-05-01', '2004-05-15', '2004-06-01', '2004-06-15',
       '2004-07-01', '2004-07-15', '2004-08-01', '2004-08-15',
       '2004-09-01', '2004-09-15', '2004-10-01', '2004-10-15',
       '2004-11-01', '2004-11-15', '2004-12-01', '2004-12-15',
       '2005-01-01', '2005-01-15', '2005-02-01', '2005-02-15',
       '2005-03-01', '2005-03-15', '2005-04-01', '2005-04-15',
       '2005-05-01', '2005-05-15', '2005-06-01', '2005-06-15',
       '2005-07-01', '2005-07-15', '2005-08-01', '2005-08-15',
       '2005-09-01', '2005-09-15', '2005-10-01', '2005-10-15',
       '2005-11-01', '2005-11-15', '2005-12-01', '2005-12-15',
       '2006-01-01', '2006-01-15', '2006-02-01', '2006-02-15',
       '2006-03-01', '2006-03-15', '2006-04-01', '2006-04-15',
       '2006-05-01', '2006-05-15', '2006-06-01', '2006-06-15',
       '2006-07-01', '2006-07-15', '2006-08-01', '2006-08-15',
       '2006-09-01', '2006-09-15', '2006-10-01', '2006-10-15',
       '2006-11-01', '2006-11-15', '2006-12-01', '2006-12-15',
       '2007-01-01', '2007-01-15', '2007-02-01', '2007-02-15',
       '2007-03-01', '2007-03-15', '2007-04-01', '2007-04-15',
       '2007-05-01', '2007-05-15', '2007-06-01', '2007-06-15',
       '2007-07-01', '2007-07-15', '2007-08-01', '2007-08-15',
       '2007-09-01', '2007-09-15', '2007-10-01', '2007-10-15',
       '2007-11-01', '2007-11-15', '2007-12-01', '2007-12-15',
       '2008-01-01', '2008-01-15', '2008-02-01', '2008-02-15',
       '2008-03-01', '2008-03-15', '2008-04-01', '2008-04-15',
       '2008-05-01', '2008-05-15', '2008-06-01', '2008-06-15',
       '2008-07-01', '2008-07-15', '2008-08-01', '2008-08-15',
       '2008-09-01', '2008-09-15', '2008-10-01', '2008-10-15',
       '2008-11-01', '2008-11-15', '2008-12-01', '2008-12-15',
       '2009-01-01', '2009-01-15', '2009-02-01', '2009-02-15',
       '2009-03-01', '2009-03-15', '2009-04-01', '2009-04-15',
       '2009-05-01', '2009-05-15', '2009-06-01', '2009-06-15',
       '2009-07-01', '2009-07-15', '2009-08-01', '2009-08-15',
       '2009-09-01', '2009-09-15', '2009-10-01', '2009-10-15',
       '2009-11-01', '2009-11-15', '2009-12-01', '2009-12-15',
       '2010-01-01', '2010-01-15', '2010-02-01', '2010-02-15',
       '2010-03-01', '2010-03-15', '2010-04-01', '2010-04-15',
       '2010-05-01', '2010-05-15', '2010-06-01', '2010-06-15',
       '2010-07-01', '2010-07-15', '2010-08-01', '2010-08-15',
       '2010-09-01', '2010-09-15', '2010-10-01', '2010-10-15',
       '2010-11-01', '2010-11-15', '2010-12-01', '2010-12-15',
       '2011-01-01', '2011-01-15', '2011-02-01', '2011-02-15',
       '2011-03-01', '2011-03-15', '2011-04-01', '2011-04-15',
       '2011-05-01', '2011-05-15', '2011-06-01', '2011-06-15',
       '2011-07-01', '2011-07-15', '2011-08-01', '2011-08-15',
       '2011-09-01', '2011-09-15', '2011-10-01', '2011-10-15',
       '2011-11-01', '2011-11-15', '2011-12-01', '2011-12-15',
       '2012-01-01', '2012-01-15', '2012-02-01', '2012-02-15',
       '2012-03-01', '2012-03-15', '2012-04-01', '2012-04-15',
       '2012-05-01', '2012-05-15', '2012-06-01', '2012-06-15',
       '2012-07-01', '2012-07-15', '2012-08-01', '2012-08-15',
       '2012-09-01', '2012-09-15', '2012-10-01', '2012-10-15',
       '2012-11-01', '2012-11-15', '2012-12-01', '2012-12-15',
       '2013-01-01', '2013-01-15', '2013-02-01', '2013-02-15',
       '2013-03-01', '2013-03-15', '2013-04-01', '2013-04-15',
       '2013-05-01', '2013-05-15', '2013-06-01', '2013-06-15',
       '2013-07-01', '2013-07-15', '2013-08-01', '2013-08-15',
       '2013-09-01', '2013-09-15', '2013-10-01', '2013-10-15',
       '2013-11-01', '2013-11-15', '2013-12-01', '2013-12-15',
       '2014-01-01', '2014-01-15', '2014-02-01', '2014-02-15',
       '2014-03-01', '2014-03-15', '2014-04-01', '2014-04-15',
       '2014-05-01', '2014-05-15', '2014-06-01', '2014-06-15',
       '2014-07-01', '2014-07-15', '2014-08-01', '2014-08-15',
       '2014-09-01', '2014-09-15', '2014-10-01', '2014-10-15',
       '2014-11-01', '2014-11-15', '2014-12-01', '2014-12-15',
       '2015-01-01', '2015-01-15', '2015-02-01', '2015-02-15',
       '2015-03-01', '2015-03-15', '2015-04-01', '2015-04-15',
       '2015-05-01', '2015-05-15', '2015-06-01', '2015-06-15',
       '2015-07-01', '2015-07-15', '2015-08-01', '2015-08-15',
       '2015-09-01', '2015-09-15', '2015-10-01', '2015-10-15',
       '2015-11-01', '2015-11-15', '2015-12-01', '2015-12-15',
       '2016-01-01', '2016-01-15', '2016-02-01', '2016-02-15',
       '2016-03-01', '2016-03-15', '2016-04-01', '2016-04-15',
       '2016-05-01', '2016-05-15', '2016-06-01', '2016-06-15',
       '2016-07-01', '2016-07-15', '2016-08-01', '2016-08-15',
       '2016-09-01', '2016-09-15', '2016-10-01', '2016-10-15',
       '2016-11-01', '2016-11-15', '2016-12-01', '2016-12-15',
       '2017-01-01', '2017-01-15', '2017-02-01', '2017-02-15',
       '2017-03-01', '2017-03-15', '2017-04-01', '2017-04-15',
       '2017-05-01', '2017-05-15', '2017-06-01', '2017-06-15',
       '2017-07-01', '2017-07-15', '2017-08-01', '2017-08-15',
       '2017-09-01', '2017-09-15', '2017-10-01', '2017-10-15',
       '2017-11-01', '2017-11-15', '2017-12-01', '2017-12-15',
       '2018-01-01', '2018-01-15', '2018-02-01', '2018-02-15',
       '2018-03-01', '2018-03-15', '2018-04-01', '2018-04-15',
       '2018-05-01', '2018-05-15', '2018-06-01', '2018-06-15',
       '2018-07-01', '2018-07-15', '2018-08-01', '2018-08-15',
       '2018-09-01', '2018-09-15', '2018-10-01', '2018-10-15',
       '2018-11-01', '2018-11-15', '2018-12-01', '2018-12-15',
       '2019-01-01', '2019-01-15', '2019-02-01', '2019-02-15',
       '2019-03-01', '2019-03-15', '2019-04-01', '2019-04-15',
       '2019-05-01', '2019-05-15', '2019-06-01', '2019-06-15',
       '2019-07-01', '2019-07-15', '2019-08-01', '2019-08-15',
       '2019-09-01', '2019-09-15', '2019-10-01', '2019-10-15',
       '2019-11-01', '2019-11-15', '2019-12-01', '2019-12-15',
       '2020-01-01', '2020-01-15', '2020-02-01', '2020-02-15',
       '2020-03-01', '2020-03-15', '2020-04-01', '2020-04-15',
       '2020-05-01', '2020-05-15', '2020-06-01', '2020-06-15',
       '2020-07-01', '2020-07-15', '2020-08-01', '2020-08-15',
       '2020-09-01', '2020-09-15', '2020-10-01', '2020-10-15',
       '2020-11-01', '2020-11-15', '2020-12-01', '2020-12-15',
       '2021-01-01', '2021-01-15', '2021-02-01', '2021-02-15',
       '2021-03-01', '2021-03-15', '2021-04-01', '2021-04-15',
       '2021-05-01', '2021-05-15', '2021-06-01', '2021-06-15',
       '2021-07-01', '2021-07-15', '2021-08-01', '2021-08-15',
       '2021-09-01', '2021-09-15', '2021-10-01', '2021-10-15',
       '2021-11-01', '2021-11-15', '2021-12-01', '2021-12-15',
       '2022-01-01', '2022-01-15', '2022-02-01', '2022-02-15',
       '2022-03-01', '2022-03-15', '2022-04-01', '2022-04-15',
       '2022-05-01', '2022-05-15', '2022-06-01', '2022-06-15',
       '2022-07-01', '2022-07-15', '2022-08-01', '2022-08-15',
       '2022-09-01', '2022-09-15', '2022-10-01', '2022-10-15',
       '2022-11-01', '2022-11-15', '2022-12-01', '2022-12-15',
       '2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15',
       '2023-03-01', '2023-03-15', '2023-04-01', '2023-04-15',
       '2023-05-01', '2023-05-15', '2023-06-01', '2023-06-15',
       '2023-07-01', '2023-07-15', '2023-08-01', '2023-08-15',
       '2023-09-01', '2023-09-15', '2023-10-01', '2023-10-15',
       '2023-11-01', '2023-11-15', '2023-12-01', '2023-12-15',
       '2024-01-01', '2024-01-15', '2024-02-01', '2024-02-15',
       '2024-03-01', '2024-03-15', '2024-04-01', '2024-04-15',
       '2024-05-01', '2024-05-15', '2024-06-01', '2024-06-15',
       '2024-07-01', '2024-07-15', '2024-08-01', '2024-08-15',
       '2024-09-01', '2024-09-15', '2024-10-01', '2024-10-15',
       '2024-11-01', '2024-11-15', '2024-12-01', '2024-12-15',
       '2025-01-01', '2025-01-15', '2025-02-01', '2025-02-15',
       '2025-03-01', '2025-03-15', '2025-04-01', '2025-04-15',
       '2025-05-01', '2025-05-15', '2025-06-01'], dtype=object)

In [8]:
# Check values in Column2 in file 1
df1["club"].unique()

array(['Aachen', 'Aalborg', 'Aalst', 'Aarhus', 'Aberdeen', 'Adanaspor',
       'AEK', 'AIK', 'Ajaccio', 'Ajax', 'Akademisk', 'Alanya', 'Alaves',
       'Albacete', 'Altay', 'Alverca', 'Alzano', 'Amica Wronki', 'Amiens',
       'Anderlecht', 'Ankaraguecue', 'Antalyaspor', 'Anzhi', 'Apollon',
       'Arges Pitesti', 'Aris', 'Arsenal', 'Aston Villa', 'Astra',
       'Atalanta', 'Ath Bilbao', 'Ath Madrid', 'Atletico B',
       'Austria Wien', 'Auxerre', 'AZ Alkmaar', 'Bacau', 'Badajoz',
       'Barcelona', 'Bari', 'Barnsley', 'Bastia', 'Bayern Munich',
       'Beerschot VA', 'Beira Mar', 'Belenenses', 'Benfica', 'Besiktas',
       'Betis', 'Beveren', 'Bielefeld', 'Birmingham', 'Bistrita',
       'Blackburn', 'Boavista', 'Bochum', 'Bodoe Glimt', 'Bologna',
       'Bolton', 'Bordeaux', 'Bradford', 'Brann', 'Brasov', 'Bregenz',
       'Brescia', 'Brondby', 'Bryne', 'Bursaspor', 'Caen', 'Cagliari',
       'Cambuur', 'Campomaiorense', 'Cannes', 'Celta', 'Celtic', 'Cesena',
       'Charleroi', 'Charlton', 'Chateauroux', 'Chelsea', 'Chemnitz',
       'Chievo', 'Club Brugge', 'Compostela', 'Cordoba', 'Cosenza',
       'Cottbus', 'Coventry', 'Craiova 1948', 'Creteil', 'Crewe',
       'Crystal Palace', 'CSKA Moskva', 'Cuiseaux-Louhans', 'Den Bosch',
       'Denizlispor', 'Derby', 'Dinamo Bucuresti', 'Dortmund', 'Duisburg',
       'Dundee', 'Dundee United', 'Dynamo Moskva', 'Eibar',
       'Ein Frankfurt', 'Elche', 'Elfsborg', 'Empoli', 'Erzurumspor',
       'Esbjerg', 'Espanol', 'Est Amadora', 'Ethnikos Asteras', 'Everton',
       'Extensiv Craiova', 'Extremadura', 'Fakel Voronezh', 'Farense',
       'Farul', 'FC Kobenhavn', 'FC Koln', 'Fenerbahce', 'Fermana',
       'Feyenoord', 'Fiorentina', 'For Sittard', 'Fortuna Koeln',
       'Freiburg', 'Fulham', 'GAIS', 'GAK', 'Galatasaray',
       'Gaziantepspor', 'Geel', 'Genclerbirligi', 'Genk', 'Genoa', 'Gent',
       'Getafe', 'Gil Vicente', 'Goeteborg', 'Gornik', 'Goztep',
       'Graafschap', 'Greuther Furth', 'Grimsby', 'Grodzisk', 'Gueugnon',
       'Guimaraes', 'Guingamp', 'Haecken', 'Haka', 'Halmstad', 'Hamburg',
       'Hammarby', 'Hannover', 'Hansa Rostock', 'Harelbeke', 'Haugesund',
       'Hearts', 'Heerenveen', 'Helsingborg', 'Herfolge', 'Hertha',
       'Hibernian', 'HJK Helsinki', 'Huddersfield', 'Inter', 'Ionikos',
       'Ipswich', 'Iraklis', 'Istanbulspor', 'Jokerit', 'Juventus',
       'Kaiserslautern', 'Kalamata', 'Karlsruhe', 'Kavala', 'Kilmarnock',
       'Kocaelispor', 'Kryliya Sovetov', 'La Coruna', 'Las Palmas',
       'LASK', 'Laval', 'Lazio', 'Le Havre', 'Le Mans', 'Lecce', 'Lech',
       'Leeds', 'Leganes', 'Legia', 'Leicester', 'Leiria', 'Lens',
       'Levante', 'Leverkusen', 'Lierse', 'Lille', 'Lillestrom',
       'Liverpool', 'LKS', 'Lleida', 'Logrones', 'Lok Moskva',
       'Lok Nizhny', 'Lokeren', 'Lommel', 'Lorient', 'Lubin', 'Lustenau',
       'Lyngby', 'Lyon', 'Maastricht', 'Mainz', 'Malaga', 'Mallorca',
       'Man City', 'Man United', 'Mannheim', 'Maritimo', 'Marseille',
       'Mechelen', 'Merida', 'Metz', 'MGladbach', 'Middlesbrough',
       'Milan', 'Molde', 'Monaco', 'Montpellier', 'Monza', 'Moss',
       'Motherwell', 'Mouscron', 'Munich 1860', 'Nancy', 'Nantes',
       'Napoli', 'Newcastle', 'Nice', 'Nijmegen', 'Nimes', 'Niort',
       'Norrkoeping', 'Norwich', 'Nottm Forest', 'Noworossisk',
       'Numancia', 'Nurnberg', 'Oberhausen', 'Odd Grenland', 'Odense',
       'Odra Wodzislaw', 'Oerebro', 'Oergryte', 'Offenbach', 'OFI',
       'Olympiakos', 'Onesti', 'Osasuna', 'Otelul Galati', 'Oviedo',
       'Panahaiki', 'Panathinaikos', 'Paniliakos', 'Panionios', 'PAOK',
       'Paris SG', 'Parma', 'Perugia', 'Pescara', 'Petrolul Ploiesti',
       'Piacenza', 'Piatra Neamt', 'Pistoiese', 'Plock', 'Pogon',
       'Polonia Warszawa', 'Port Vale', 'Porto', 'Portsmouth',
       'Progresul', 'Proodeftiki', 'PSV Eindhoven', 'QPR', 'Radzionkow',
       'Rangers', 'Rapid Bucuresti', 'Rapid Wien', 'Ravenna',
       'Real Madrid', 'Recreativo', 'Reggina', 'Rennes', 'Resita', 'Ried',
       'Rio Ave', 'Rocar Bucuresti', 'Roda', 'Roma', 'Rosenborg',
       'Rostov', 'Rotor Volgograd', 'Ruch', 'Salamanca', 'Salernitana',
       'Salgueiros', 'Salzburg', 'Sampdoria', 'Samsunspor', 'Santa Clara',
       'Santander', 'Saturn Ramenskoje', 'Savoia', 'Schalke 04', 'Sedan',
       'Setubal', 'Sevilla', 'Sheffield United', 'Sheffield Weds',
       'Silkeborg', 'Sochaux', 'Sociedad', 'Southampton', 'Sp Braga',
       'Sp Gijon', 'Sp Lisbon', 'Sparta Rotterdam', 'Spartak Moskva',
       'St Etienne', 'St Johnstone', 'St Pauli', 'St Truiden', 'Stabaek',
       'Standard', 'Start', 'Steaua', 'Stockport', 'Stomil', 'Strasbourg',
       'Sturm Graz', 'Stuttgart', 'Sunderland', 'Sundsvall', 'Swindon',
       'TeBe', 'Tenerife', 'Ternana', 'Toledo', 'Torino',
       'Torpedo Moskva', 'Tottenham', 'Toulouse', 'Trabzonspor',
       'Tranmere', 'Trelleborg', 'Treviso', 'Trikala', 'Tromso', 'Troyes',
       'Twente', 'Udinese', 'Ulm', 'Unterhaching', 'Uralan Elista',
       'Utrecht', 'Vaestra', 'Valence', 'Valencia', 'Valerenga',
       'Valladolid', 'Vallecano', 'Vanspor', 'Vejle', 'Venezia', 'Verona',
       'Viborg', 'Vicenza', 'Viking', 'Villarreal', 'Vitesse', 'Waalwijk',
       'Wacker Innsbruck', 'Walsall', 'Wasquehal', 'Watford',
       'Werder Bremen', 'West Brom', 'West Ham', 'Westerlo', 'Widzew',
       'Willem II', 'Wimbledon', 'Wisla', 'Wolfsburg', 'Wolves',
       'Wurzburger Kickers', 'Xanthi', 'Zaragoza', 'Zenit', 'Admira',
       'Ahlen', 'Ancona', 'Angers', 'Antwerp', 'Athinaikos', 'Aves',
       'Beauvais', 'Burnley', 'Cittadella', 'Crotone', 'Dunfermline',
       'Ferrol', 'Foresta Suceava', 'Gaz Metan', 'Giannina', 'Gillingham',
       'Groningen', 'Jaen', 'Katowice', 'Louvieroise', 'Martigues',
       'Midtjylland', 'Murcia', 'NAC Breda', 'Osnabruck',
       'Pacos Ferreira', 'Preston', 'Reutlingen', 'Rizespor',
       'Roosendaal', 'Saarbrucken', 'Siena', 'Siirt Jet-PA', 'Slask',
       'SonderjyskE', 'St Mirren', 'U.Las Palmas', 'Yozgatspor',
       'Djurgarden', 'FC Moskva', 'Lyn Oslo', 'Malmoe', 'Sogndal',
       'Sokol Saratov', 'Stromsgodset', 'Akratitos', 'Babelsberg',
       'Burgos', 'Como', 'Diyarbakirspor', 'Egaleo', 'Grenoble', 'Istres',
       'Klagenfurt', 'KSZO', 'Livingston', 'Malatyaspor', 'Messina',
       'Millwall', 'Modena', 'Molenbeek', 'MyPa', 'Palermo', 'Poli Ejido',
       'Radomsko', 'Rotherham', 'Schweinfurt', 'Sportul', 'Tarragona',
       'UM Timisoara', 'Union Berlin', 'Varzim', 'Xerez', 'Kalmar',
       'Landskrona', 'Shinnik Jaroslawl', 'Tampere', 'Academica',
       'Almeria', 'Ascoli', 'Bergen', 'Braunschweig', 'Brighton',
       'Burghausen', 'Catania', 'Clermont', 'Ein Trier', 'Elazigspor',
       'Excelsior', 'Jaworzno', 'Kalithea', 'Koge', 'Leixoes', 'Livorno',
       'Lubeck', 'Moreirense', 'Nacional', 'Nordsjaelland', 'Partick',
       'Pasching', 'Reading', 'Reims', 'Stoke', 'Terrassa', 'Timisoara',
       'Triestina', 'UTA Arad', 'Zwolle', 'Aalesund', 'Enkoeping',
       'Oester', 'Rubin Kazan', 'Torpedo Metallurg ZIL', 'A. Sebatspor',
       'Albinoleffe', 'Algeciras', 'Avellino', 'Besancon', 'Cadiz',
       'Cardiff', 'Cercle Brugge', 'Chalkidona', 'Ciudad de Murcia',
       'Crisul Oradea', 'Den Haag', 'Erzgebirge Aue', 'Frem',
       'Gornik Leczna', 'Heusden Zolder', 'Konyaspor', 'Malaga B',
       'Mattersburg', 'Mazowiecki', 'Polkowice', 'Quevilly Rouen',
       'Regensburg', 'Unirea Alba Iulia', 'Volendam', 'Wigan',
       'Allianssi', 'Amkar Perm', 'Fredrikstad', 'Ham-Kam', 'Kuban',
       'Ankaraspor', 'Arezzo', 'Brest', 'Catanzaro', 'CFR Cluj',
       'Cracovia', 'Dijon', 'Dresden', 'Erfurt', 'Ergotelis', 'Essen',
       'Estoril', 'FC Brussels', 'Iasi', 'Inverness', 'Kalamaria',
       'Kayserispor', 'Kerkyra', 'Oostende', 'Penafiel',
       'Plymouth Argyle', 'Pontevedra', 'Randers', 'Sakaryaspor',
       'Terek Grozny', 'Assyriska', 'Gefle', 'Tomsk', 'Arka', 'Atromitos',
       'Belchatow', 'Castellon', 'Cremonese', 'Erciyesspor', 'Falkirk',
       'Heracles', 'Hercules', 'Horsens', 'Hull', 'Jiul Petrosani',
       'Korona', 'Larisa', 'Levadeiakos', 'Lorca', 'Luton', 'Manisaspor',
       'Mantova', 'Naval', 'Paderborn', 'Pandurii', 'Real Madrid B',
       'Rimini', 'Roeselare', 'Sete', 'Siegen', 'Sivasspor',
       'Valenciennes', 'Vaslui', 'Waregem', 'Sandefjord',
       'Spartak Nalchik', 'Vladivostok', 'Altach', 'Atvidaberg',
       'Augsburg', 'Colchester', 'CZ Jena', 'Frosinone', 'Gretna',
       'Koblenz', 'Libourne', 'Ponferradina', 'Southend', 'Spezia',
       'Tours', 'Urziceni', 'Vecindario', 'Brommapojkarna', 'FC Khimki',
       'Asteras Tripolis', 'Austria Kaernten', 'Blackpool', 'Boulogne',
       'Bristol City', 'Buyuksehyr', 'Bytom', 'Dender', 'Gloria Buzau',
       'Granada 74', 'Grosseto', 'Hacettepespor', 'Hoffenheim',
       'Jagiellonia', 'Kasimpasa', 'Mioveni', 'Pisa', 'Scunthorpe',
       'Sevilla B', 'Sosnowiec', 'Universitatea Cluj', 'Veria',
       'VVV Venlo', 'Wehen', 'Honka Espoo', 'Ljungskile', 'Alicante',
       'Doncaster', 'Eskisehirspor', 'Frankfurt FSV', 'Girona',
       'Hamilton', 'Huesca', 'Ingolstadt', 'Kapfenberg', 'Kortrijk',
       'Lechia', 'Otopeni', 'Panserraikos', 'Panthrakikos',
       'Piast Gliwice', 'Queen of Sth', 'Sassuolo', 'Swansea',
       'Thrasyvoulos', 'Trofense', 'Tubize', 'Vannes', 'Inter Turku',
       'Lahti', 'Arles', 'Cartagena', 'Curtea de Arges',
       'Fortuna Dusseldorf', 'Gallipoli', 'HB Koge', 'Olhanense',
       'Padova', 'Peterboro', 'Real Union', 'Villarreal B',
       'Wiener Neustadt', 'Honefoss', 'Kongsvinger', 'Mjaellby',
       'Novosibirsk', 'TPS Turku', 'Alcorcon', 'Barcelona B', 'Branesti',
       'Bucaspor', 'Eupen', 'Evian Thonon Gaillard', 'Granada',
       'Karabukspor', 'Novara', 'Portimonense', 'Portogruaro',
       'Targu Mures', 'Varese', 'Volou', 'FC Krasnodar', 'Kuopio',
       'Sarpsborg', 'Syrianska', 'Volga', 'Alcoyano', 'Chiajna',
       'Feirense', 'Guadalajara', 'Gubbio', 'Juve Stabia',
       'Mersin Idman Yurdu', 'Nocerina', 'Orduspor',
       'Oud-Heverlee Leuven', 'Podbeskidzie', 'Sabadell', 'Vointa Sibiu',
       'Doxa Dramas', 'Panetolikos', 'Jyvaeskylae', 'Sandnes', 'Aalen',
       'Akhisar Belediyespor', 'Gazelec', 'Lugo', 'Mirandes', 'Mordovia',
       'Platanias', 'Pro Vercelli', 'Ross County', 'Sandhausen',
       'Turnu Severin', 'Viitorul', 'Virtus Lanciano', 'Wolfsberg',
       'Mariehamn', 'Arouca', 'Botosani', 'Bournemouth', 'CA Bastia',
       'Carpi', 'Corona Brasov', 'Go Ahead Eagles', 'Groedig', 'Hodd',
       'Kallonis', 'Latina', 'Sageata', 'Sverdlovsk', 'Trapani',
       'Vestsjaelland', 'Yeovil', 'Zawisza', 'Falkenbergs', 'Rovaniemi',
       'Vaasa', 'Balikesirspor', 'Brentford', 'Craiova', 'Darmstadt',
       'Dordrecht', 'Heidenheim', 'Hobro', 'Llagostera', 'Niki Volos',
       'Orleans', 'RB Leipzig', 'St Poelten', 'Tula', 'Ufa',
       'Virtus Entella', 'Mjondalen', 'Seinajoki', 'Ath Bilbao B',
       'Bourg Peronnas', 'Milton Keynes Dons', 'Nieciecza', 'Paris FC',
       'Red Star', 'Tondela', 'Uniao Madeira', 'Voluntari', 'Joenkoeping',
       'Ostersund', 'Alanyaspor', 'Benevento', 'Burton', 'Chaves',
       'Orenburg', 'Reus Deportiu', 'Spal', 'UCAM Murcia', 'Eskilstuna',
       'IK Sirius', 'Kristiansund', 'St. Gilloise', 'Foggia', 'Helsingor',
       'Holstein Kiel', 'Juventus Bucuresti', 'Khabarovsk', 'Lamia',
       'Leonesa', 'Sandecja Nowy Sacz', 'Sepsi', 'Tosno', 'Dalkurd',
       'Ilves Tampere', 'Ranheim', 'Beziers', 'Dunarea Calarasi',
       'Erzurum BB', 'FC Emmen', 'Hartberg', 'Hermannstadt', 'Magdeburg',
       'Miedz Legnica', 'Rayo Majadahonda', 'Vendsyssel', 'Yenisey',
       'Chambly', 'Chindia Targoviste', 'Clinceni', 'Famalicao',
       'Fuenlabrada', 'NFC Volos', 'Pordenone', 'Rakow', 'Rodez', 'Sochi',
       'Tambov', 'Wattens', 'Varbergs', 'Dunkerque', 'Hatayspor',
       'Karagumruk', 'Pau FC', 'Stal Mielec', 'Warta', 'Wycombe',
       'Reggiana', 'Degerfors', 'Ad. Demirspor', 'Alessandria',
       'Amorebieta', 'Giresunspor', 'Ibiza', 'Nizhny Novgorod',
       'Radomiak', 'Seraing', 'Sociedad B', 'Vizela', 'Jerv', 'Varnamo',
       'Andorra CF', 'Annecy', 'Casa Pia', 'Sudtirol', 'Umraniyespor',
       'Almere City', 'Baltika', 'BW Linz', 'Concarneau', 'Eldense',
       'Elversberg', 'Feralpisalo', 'Hvidovre', 'Kifisias', 'Lecco',
       'Pendikspor', 'Plymouth', 'Puszcza Niepolomice', 'KFUM Oslo',
       'Vaesteras', 'Akron Togliatti', 'AVS', 'Bodrumspor', 'Carrarese',
       'Corvinul Hunedoara', 'Dynamo Makhachkala', 'Eyupspor',
       'Motor Lublin', 'Oxford', 'Preussen Munster', 'Unirea Slobozia',
       "M'gladbach", "Nott'm Forest"], dtype=object)

In [9]:
# Check values in Column3 in file 1
df1["country"].unique()

array(['GER', 'DEN', 'BEL', 'SCO', 'TUR', 'GRE', 'SWE', 'FRA', 'NED',
       'RUS', 'ESP', 'POR', 'ITA', 'POL', 'ROM', 'ENG', 'AUT', 'NOR',
       'FIN'], dtype=object)

In [10]:
# Check values in Column4 in file 1
df1["elo"].unique()

array([1453.6 , 1482.61, 1337.53, ..., 1331.06, 1785.55, 1645.72],
      shape=(60668,))

In [11]:
# Drop Duplicates in file 1 (if data have duplicates but this df have not duplicates)
df1.drop_duplicates(inplace=True)

In [12]:
# Final Validation for file 1
print(df1.isnull().sum())
print(" ")
print(df1.describe())
print(" ")
print(df1.dtypes)

date       0
club       0
country    0
elo        0
dtype: int64

                 elo
count  245033.000000
mean     1505.072948
std       155.587668
min      1069.680000
25%      1394.720000
50%      1486.820000
75%      1606.010000
max      2107.480000

date        object
club        object
country     object
elo        float64
dtype: object

In [13]:
# open the second file
url = r"Data/Matches.csv"
df2 = pd.read_csv(url) #to loud file
df2

<ipython-input-13-d135db2ebc01>:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(url) #to loud file

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230552,SP2,2025-06-01,17:30:00,Cartagena,Mirandes,1339.21,1544.15,3.0,6.0,7.0,...,2.40,1.8,1.95,1.85,0.0209,0.0118,0.0099,0.8084,0.1386,0.0104
230553,SP2,2025-06-01,17:30:00,Almeria,Tenerife,1544.16,1433.67,4.0,10.0,1.0,...,2.55,-1.8,1.80,2.00,0.3799,0.0630,0.2806,0.0160,0.2332,0.0274
230554,SP2,2025-06-01,17:30:00,La Coruna,Elche,1473.67,1569.98,0.0,3.0,3.0,...,2.63,1.3,1.78,2.03,0.0224,0.7482,0.0100,0.1201,0.0180,0.0813
230555,SP2,2025-06-01,17:30:00,Oviedo,Cadiz,1574.90,1525.76,7.0,13.0,6.0,...,1.51,-0.8,1.95,1.85,0.2070,0.2490,0.2334,0.0211,0.2634,0.0261
230556,SP2,2025-06-01,20:00:00,Cordoba,Albacete,1468.40,1495.25,0.0,4.0,6.0,...,2.70,-1.0,2.00,1.80,0.0191,0.0203,0.0937,0.0164,0.8251,0.0254

In [14]:
# Data Informations in file 2
df2.info()
df2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230557 entries, 0 to 230556
Data columns (total 48 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Division     230557 non-null  object
 1   MatchDate    230557 non-null  object
 2   MatchTime    99072 non-null   object
 3   HomeTeam     230557 non-null  object
 4   AwayTeam     230557 non-null  object
 5   HomeElo      141597 non-null  float64
 6   AwayElo      141528 non-null  float64
 7   Form3Home    229057 non-null  float64
 8   Form5Home    229057 non-null  float64
 9   Form3Away    229057 non-null  float64
 10  Form5Away    229057 non-null  float64
 11  FTHome       230554 non-null  float64
 12  FTAway       230554 non-null  float64
 13  FTResult     230554 non-null  object
 14  HTHome       175977 non-null  float64
 15  HTAway       175977 non-null  float64
 16  HTResult     175977 non-null  object
 17  HomeShots    114735 non-null  float64
 18  AwayShots    114738 non-null  float64
 19  HomeTarget   113929 non-null  float64
 20  AwayTarget   113932 non-null  float64
 21  HomeFouls    113973 non-null  float64
 22  AwayFouls    113973 non-null  float64
 23  HomeCorners  114363 non-null  float64
 24  AwayCorners  114363 non-null  float64
 25  HomeYellow   119298 non-null  float64
 26  AwayYellow   119299 non-null  float64
 27  HomeRed      119299 non-null  float64
 28  AwayRed      119297 non-null  float64
 29  OddHome      227527 non-null  float64
 30  OddDraw      227527 non-null  float64
 31  OddAway      227527 non-null  float64
 32  MaxHome      202922 non-null  float64
 33  MaxDraw      202922 non-null  float64
 34  MaxAway      202922 non-null  float64
 35  Over25       148398 non-null  float64
 36  Under25      148397 non-null  float64
 37  MaxOver25    148398 non-null  float64
 38  MaxUnder25   148397 non-null  float64
 39  HandiSize    156733 non-null  float64
 40  HandiHome    156475 non-null  float64
 41  HandiAway    156451 non-null  float64
 42  C_LTH        112602 non-null  float64
 43  C_LTA        112602 non-null  float64
 44  C_VHD        112602 non-null  float64
 45  C_VAD        112602 non-null  float64
 46  C_HTB        112602 non-null  float64
 47  C_PHB        112602 non-null  float64
dtypes: float64(41), object(7)
memory usage: 78.3+ MB

,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,Form5Away,FTHome,FTAway,HTHome,HTAway,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
count,141597.000000,141528.000000,229057.000000,229057.000000,229057.000000,229057.000000,230554.000000,230554.000000,175977.000000,175977.000000,...,148397.000000,156733.000000,156475.000000,156451.000000,112602.000000,112602.000000,112602.000000,112602.000000,112602.000000,112602.000000
mean,1533.118663,1533.165652,3.984628,6.721606,4.203482,6.928241,1.488411,1.150646,0.657626,0.502782,...,1.986764,-0.303375,1.919722,1.954644,0.216225,0.200979,0.146727,0.126160,0.173664,0.136246
std,153.279601,153.294511,2.377010,3.257166,2.393202,3.269548,1.258901,1.112735,0.812627,0.715419,...,0.719088,0.729464,0.495534,0.351741,0.242283,0.239103,0.230572,0.216921,0.214677,0.199302
min,1103.130000,1103.130000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.260000,-99.900000,0.000000,-0.500000,0.009700,0.009700,0.009800,0.009700,0.009800,0.009700
25%,1424.870000,1424.930000,2.000000,4.000000,3.000000,4.000000,1.000000,0.000000,0.000000,0.000000,...,1.750000,-0.500000,1.830000,1.830000,0.036000,0.032000,0.011400,0.010000,0.031100,0.021400
50%,1515.450000,1515.475000,4.000000,7.000000,4.000000,7.000000,1.000000,1.000000,0.000000,0.000000,...,1.910000,-0.300000,1.920000,1.930000,0.102700,0.086300,0.036100,0.027100,0.073500,0.046800
75%,1634.240000,1634.222500,6.000000,9.000000,6.000000,9.000000,2.000000,2.000000,1.000000,1.000000,...,2.120000,0.000000,2.010000,2.020000,0.325100,0.286100,0.154900,0.112600,0.225300,0.147000
max,2107.480000,2107.480000,9.000000,15.000000,9.000000,15.000000,10.000000,13.000000,7.000000,7.000000,...,238.000000,12.500000,177.000000,15.140000,0.943700,0.944900,0.951200,0.951100,0.946500,0.941500

In [15]:
# Data Understanding in file 2
print("Missing Values:\n", df2.isnull().sum())
print("\nDuplicate Rows:", df2.duplicated().sum())

Missing Values:
 Division            0
MatchDate           0
MatchTime      131485
HomeTeam            0
AwayTeam            0
HomeElo         88960
AwayElo         89029
Form3Home        1500
Form5Home        1500
Form3Away        1500
Form5Away        1500
FTHome              3
FTAway              3
FTResult            3
HTHome          54580
HTAway          54580
HTResult        54580
HomeShots      115822
AwayShots      115819
HomeTarget     116628
AwayTarget     116625
HomeFouls      116584
AwayFouls      116584
HomeCorners    116194
AwayCorners    116194
HomeYellow     111259
AwayYellow     111258
HomeRed        111258
AwayRed        111260
OddHome          3030
OddDraw          3030
OddAway          3030
MaxHome         27635
MaxDraw         27635
MaxAway         27635
Over25          82159
Under25         82160
MaxOver25       82159
MaxUnder25      82160
HandiSize       73824
HandiHome       74082
HandiAway       74106
C_LTH          117955
C_LTA          117955
C_VHD          117955
C_VAD          117955
C_HTB          117955
C_PHB          117955
dtype: int64

Duplicate Rows: 0

In [16]:
# Data Types in file 2
df2.dtypes

Division        object
MatchDate       object
MatchTime       object
HomeTeam        object
AwayTeam        object
HomeElo        float64
AwayElo        float64
Form3Home      float64
Form5Home      float64
Form3Away      float64
Form5Away      float64
FTHome         float64
FTAway         float64
FTResult        object
HTHome         float64
HTAway         float64
HTResult        object
HomeShots      float64
AwayShots      float64
HomeTarget     float64
AwayTarget     float64
HomeFouls      float64
AwayFouls      float64
HomeCorners    float64
AwayCorners    float64
HomeYellow     float64
AwayYellow     float64
HomeRed        float64
AwayRed        float64
OddHome        float64
OddDraw        float64
OddAway        float64
MaxHome        float64
MaxDraw        float64
MaxAway        float64
Over25         float64
Under25        float64
MaxOver25      float64
MaxUnder25     float64
HandiSize      float64
HandiHome      float64
HandiAway      float64
C_LTH          float64
C_LTA          float64
C_VHD          float64
C_VAD          float64
C_HTB          float64
C_PHB          float64
dtype: object

In [17]:
# Check Null Values in file 2

# Count Null Values
null_count = df2.isnull().sum()

# Count Null Percentage
null_percentage = (df2.isnull().mean() * 100).round(2)

# Merge it in one table
missing_report = pd.DataFrame({
    "Missing Count": null_count,
    "Missing Percentage %": null_percentage
})

print(missing_report)

             Missing Count  Missing Percentage %
Division                 0                  0.00
MatchDate                0                  0.00
MatchTime           131485                 57.03
HomeTeam                 0                  0.00
AwayTeam                 0                  0.00
HomeElo              88960                 38.58
AwayElo              89029                 38.61
Form3Home             1500                  0.65
Form5Home             1500                  0.65
Form3Away             1500                  0.65
Form5Away             1500                  0.65
FTHome                   3                  0.00
FTAway                   3                  0.00
FTResult                 3                  0.00
HTHome               54580                 23.67
HTAway               54580                 23.67
HTResult             54580                 23.67
HomeShots           115822                 50.24
AwayShots           115819                 50.23
HomeTarget          116628                 50.59
AwayTarget          116625                 50.58
HomeFouls           116584                 50.57
AwayFouls           116584                 50.57
HomeCorners         116194                 50.40
AwayCorners         116194                 50.40
HomeYellow          111259                 48.26
AwayYellow          111258                 48.26
HomeRed             111258                 48.26
AwayRed             111260                 48.26
OddHome               3030                  1.31
OddDraw               3030                  1.31
OddAway               3030                  1.31
MaxHome              27635                 11.99
MaxDraw              27635                 11.99
MaxAway              27635                 11.99
Over25               82159                 35.64
Under25              82160                 35.64
MaxOver25            82159                 35.64
MaxUnder25           82160                 35.64
HandiSize            73824                 32.02
HandiHome            74082                 32.13
HandiAway            74106                 32.14
C_LTH               117955                 51.16
C_LTA               117955                 51.16
C_VHD               117955                 51.16
C_VAD               117955                 51.16
C_HTB               117955                 51.16
C_PHB               117955                 51.16

In [25]:
# Drop Columns in file 2 have > 25% null values
cols_to_drop = df2.columns[df2.isnull().mean() > 0.25]
print("Columns to drop:", cols_to_drop)

Columns to drop: Index(['MatchTime', 'HomeElo', 'AwayElo', 'HomeShots', 'AwayShots',
       'HomeTarget', 'AwayTarget', 'HomeFouls', 'AwayFouls', 'HomeCorners',
       'AwayCorners', 'HomeYellow', 'AwayYellow', 'HomeRed', 'AwayRed',
       'Over25', 'Under25', 'MaxOver25', 'MaxUnder25', 'HandiSize',
       'HandiHome', 'HandiAway', 'C_LTH', 'C_LTA', 'C_VHD', 'C_VAD', 'C_HTB',
       'C_PHB'],
      dtype='object')

In [26]:
# View columns in file 2
df2 = df2.drop(columns=cols_to_drop)
df2.columns

Index(['Division', 'MatchDate', 'HomeTeam', 'AwayTeam', 'Form3Home',
       'Form5Home', 'Form3Away', 'Form5Away', 'FTHome', 'FTAway', 'FTResult',
       'HTHome', 'HTAway', 'HTResult', 'OddHome', 'OddDraw', 'OddAway',
       'MaxHome', 'MaxDraw', 'MaxAway'],
      dtype='object')

In [27]:
# Check values in Column "Division" in file 2
df2["Division"].unique()

array(['F1', 'F2', 'T1', 'D1', 'D2', 'B1', 'E2', 'E1', 'N1', 'P1', 'E0',
       'I2', 'SP2', 'SP1', 'I1', 'E3', 'SC0', 'SC1', 'SC2', 'SC3', 'G1',
       'EC', 'USA', 'SWE', 'NOR', 'IRL', 'BRA', 'ARG', 'MEX', 'JAP',
       'RUS', 'POL', 'DEN', 'ROM', 'AUT', 'SUI', 'FIN', 'CHN'],
      dtype=object)

In [28]:
# Check values in Column "MatchDate" in file 2
df2["MatchDate"].unique()

array(['2000-07-28', '2000-07-29', '2000-08-03', ..., '2025-05-30',
       '2025-05-31', '2025-06-01'], shape=(7402,), dtype=object)

In [30]:
# Check values in Column "HomeTeam" in file 2
df2["HomeTeam"].unique()

array(['Marseille', 'Paris SG', 'Wasquehal', ..., "Nott'm Forest",
       "M'gladbach", 'Preußen Münster'], shape=(1214,), dtype=object)

In [31]:
# Check values in Column "AwayTeam" in file 2
df2["AwayTeam"].unique()

array(['Troyes', 'Strasbourg', 'Nancy', ..., "Nott'm Forest",
       "M'gladbach", 'Preußen Münster'], shape=(1206,), dtype=object)

In [34]:
# Check values in Column "Form3Home" in file 2
df2 = df2[df2["Form3Home"].notnull()]
df2["Form3Home"].unique()

array([0., 9., 3., 5., 2., 6., 7., 4., 1.])

In [35]:
# Check values in Column "Form5Home" in file 2
df2 = df2[df2["Form5Home"].notnull()]
df2["Form3Home"].unique()

array([0., 9., 3., 5., 2., 6., 7., 4., 1.])

In [36]:
# Check values in Column "Form3ِAway" in file 2
df2 = df2[df2["Form3Away"].notnull()]
df2["Form3Away"].unique()

array([0., 3., 9., 2., 5., 6., 1., 7., 4.])

In [37]:
# Check values in Column "Form5Away" in file 2
df2 = df2[df2["Form5Away"].notnull()]
df2["Form5Away"].unique()

array([ 0.,  5., 15.,  3.,  8., 10.,  2., 12.,  7., 13.,  6.,  1.,  9.,
       11.,  4.])

In [40]:
# Check values in Column "FTHome" in file 2
df2 = df2[df2["FTHome"].notnull()]
df2["FTHome"].unique()

array([ 3.,  0.,  1.,  2.,  6.,  5.,  4.,  7.,  8.,  9., 10.])

In [41]:
# Check values in Column "FTAway" in file 2
df2 = df2[df2["FTAway"].notnull()]
df2["FTAway"].unique()

array([ 1.,  2.,  0.,  3.,  5.,  4.,  6.,  7.,  8.,  9., 13.])

In [42]:
# Check values in Column "FTResult" in file 2
df2 = df2[df2["FTResult"].notnull()]
df2["FTResult"].unique()

array(['H', 'A', 'D'], dtype=object)

In [43]:
# Check values in Column "HTHome" in file 2
df2 = df2[df2["HTHome"].notnull()]
df2["HTHome"].unique()

array([2., 1., 0., 3., 4., 6., 5., 7.])

In [44]:
# Check values in Column "HTAway" in file 2
df2 = df2[df2["HTAway"].notnull()]
df2["HTAway"].unique()

array([1., 0., 2., 4., 3., 6., 5., 7.])

In [45]:
# Check values in Column "HTResult" in file 2
df2 = df2[df2["HTResult"].notnull()]
df2["HTResult"].unique()

array(['H', 'D', 'A'], dtype=object)

In [46]:
# Check values in Column "OddHome" in file 2
df2 = df2[df2["OddHome"].notnull()]
df2["OddHome"].unique()

array([ 1.65,  1.6 ,  1.7 , ..., 13.37,  9.85, 12.33], shape=(1104,))

In [47]:
# Check values in Column "OddDraw" in file 2
df2 = df2[df2["OddDraw"].notnull()]
df2["OddDraw"].unique()

array([ 3.3 ,  3.4 ,  3.  ,  3.1 ,  4.  ,  3.2 ,  3.05,  4.5 ,  3.6 ,
        3.7 ,  3.5 ,  4.1 ,  2.9 ,  2.95,  3.15,  4.2 ,  4.35,  3.25,
        2.8 ,  3.35,  4.3 ,  3.45,  3.65,  4.65,  3.8 ,  4.05,  5.  ,
        4.4 ,  3.75,  4.8 ,  3.9 ,  5.5 ,  3.55,  5.15,  4.7 ,  4.25,
        5.3 ,  5.2 ,  3.85,  5.75,  5.4 ,  6.5 ,  4.55,  3.66,  6.  ,
        4.6 ,  2.85,  2.7 ,  2.55,  2.5 ,  2.6 ,  2.65,  2.45,  2.4 ,
        2.75,  6.8 ,  5.8 ,  5.25,  4.9 ,  8.  ,  5.7 ,  4.45,  4.75,
        2.92,  4.15,  5.1 ,  2.2 ,  3.95,  3.07,  2.15,  1.85,  2.35,
        2.62,  2.72,  7.  ,  3.53,  1.6 ,  6.75,  7.25,  6.25,  4.85,
        5.85,  6.15,  2.77,  5.35,  5.65,  5.45,  5.6 ,  6.2 ,  7.55,
        4.95,  7.15,  3.78,  5.95,  2.3 ,  2.1 ,  2.  ,  3.33,  5.05,
        2.33,  1.7 ,  2.88,  4.33,  2.63,  2.87,  7.5 ,  1.73,  2.37,
        8.5 ,  2.38,  2.79,  3.39,  2.89,  3.29,  3.79,  1.8 ,  1.66,
        1.83,  1.72,  1.9 ,  2.25,  1.61,  9.  ,  1.91,  1.4 ,  2.05,
        1.5 ,  1.44,  1.57, 10.  ,  1.62, 11.  , 13.  ,  1.65,  1.67,
        1.53,  1.75, 12.  ,  9.5 ,  1.29, 15.  , 17.  ,  3.89,  4.09,
        4.59,  2.39, 21.  ,  3.41,  3.42,  3.08,  3.06,  2.84,  4.94,
        2.96,  3.54,  3.16,  3.59,  3.49,  3.58,  4.36,  4.82,  3.27,
        3.38,  3.51,  3.37,  3.02,  3.44,  3.34,  3.04,  3.01,  3.26,
        6.04,  3.28,  3.47,  3.17,  3.32,  3.46,  3.92,  3.57,  3.36,
        3.11,  3.31,  3.13,  3.18,  3.23,  7.16,  4.08,  3.48,  3.74,
        3.64,  3.19,  4.53,  4.63,  3.43,  3.56,  3.68,  4.84,  3.73,
        6.12,  3.24,  3.61,  5.02,  4.21,  3.22,  2.91,  2.86,  2.97,
        2.99,  3.81,  8.75,  5.07,  6.28,  4.18,  3.14,  3.77,  4.31,
        3.86,  3.71,  3.83,  3.84,  4.42,  3.21,  3.12,  5.53, 10.52,
        3.52,  3.69,  2.98,  5.21,  6.29,  8.26,  3.88,  3.87,  4.19,
        3.82,  4.27,  4.38,  3.62,  8.35,  9.77,  2.93,  5.54,  7.14,
        4.39,  5.49,  6.62,  5.97,  3.93,  5.37,  4.52,  3.91,  3.63,
        4.29,  3.67,  4.67,  3.97,  4.12,  3.09,  5.32,  7.88,  3.03,
        6.88,  6.97,  4.48,  4.64,  4.02,  3.72,  5.13,  3.76,  4.23,
        4.43,  4.16,  3.94,  4.26,  4.74,  9.59,  5.06,  4.93,  4.76,
        2.94,  6.24,  7.28,  5.81,  6.26,  3.96,  4.54, 10.12,  6.07,
        6.1 ,  3.99, 11.05,  4.88,  4.98, 11.73,  4.13,  4.71,  4.86,
        5.43,  5.56,  4.61,  4.92,  4.17,  4.04,  4.03,  4.22,  6.78,
        6.72,  4.14,  5.64,  6.59,  8.27,  4.01,  6.34,  4.37,  6.19,
        4.11,  9.03,  8.51,  4.47,  8.22,  5.66,  5.29,  6.06,  4.07,
        5.36,  2.82,  2.81,  9.25,  5.31, 10.24,  7.74,  4.58,  6.08,
        5.17,  5.99,  5.44,  4.97,  5.38,  5.18,  4.46,  5.52,  4.06,
        7.12,  4.72, 16.19,  6.45,  7.02,  7.76,  4.41,  5.01,  6.03,
        9.07,  4.83,  5.41,  4.57,  6.3 ,  5.86,  8.2 ,  7.66,  4.32,
        3.98,  4.89,  2.78,  5.03,  4.91,  4.78, 10.03,  4.66,  5.78,
        7.2 ,  9.42,  5.84,  6.09,  9.26,  8.59,  9.17,  2.76,  8.18,
        5.62,  7.36,  5.26,  6.66, 12.35,  6.93,  5.11,  4.34,  4.28,
        5.34, 11.64,  4.69,  4.24,  5.74,  4.73,  7.06,  6.35,  5.27,
        6.56,  4.49,  6.94, 10.23,  5.87,  5.69,  6.47,  8.87,  5.19,
       11.99,  5.92,  6.95,  5.59,  6.27,  7.3 ,  4.44,  8.29,  2.83,
        5.33,  6.87,  5.08,  6.81,  6.63,  7.53,  8.57,  7.57,  4.62,
        8.67,  4.96,  5.46,  9.83,  7.94,  7.59,  5.94,  6.85,  5.23,
        7.83,  7.56,  7.38,  5.77,  5.42,  6.38,  7.86,  2.74,  6.64,
        6.41, 11.49,  7.69,  4.99,  4.87,  9.22,  5.67,  9.16,  4.81,
        7.72,  8.74,  6.48,  6.73,  6.83,  6.92,  6.52,  7.04,  5.89,
        5.48,  7.96,  6.17,  6.02,  6.13, 11.65, 12.15,  5.12,  6.84,
        6.33,  8.56,  4.56,  7.62,  6.32,  6.01,  9.62,  5.61,  5.16,
        8.39,  7.23,  2.71, 10.64, 10.49,  5.58,  6.46,  8.1 ,  7.07,
        4.77,  6.22, 11.24,  6.68,  7.84,  5.76,  5.83,  5.79,  8.96,
        5.55,  4.51,  9.65,  9.02,  6.36,  7.43,  5.88,  8.09,  7.26,
        6.39,  9.14,  6.79,  6.67,  5.28,  4.68,  5.14,  5.68, 14.61,
        6.76,  9.37,  2.61, 14.01,  2.73,  7.01,  6.99,  5.24,  8.43,
        7.81,  9.12,  9.6 ,  8.19,  7.78,  5.04, 11.11,  6.86,  8.7 ,
       12.43,  8.88,  5.39,  7.27,  8.06,  6.69,  6.6 ,  5.09,  6.51,
        8.97,  5.63,  8.33,  8.49,  6.54,  4.79,  7.35,  7.46,  6.82,
        9.15,  8.41,  5.73,  8.68,  6.05,  6.18, 12.8 ,  7.47,  5.71,
        9.93,  5.96, 11.59,  8.38,  5.57,  7.17, 12.99,  5.98,  5.93,
       10.94,  6.14,  7.39,  9.47,  2.66,  7.73,  5.51,  6.96, 15.05,
        8.08,  7.4 ,  6.31,  2.67,  2.68,  9.48, 10.28,  9.52,  6.57,
        7.09,  9.74,  6.44,  6.53,  5.72,  8.62,  5.22,  9.96,  7.48,
       10.73,  8.13,  7.65,  8.12,  9.31,  9.05, 10.17,  8.07,  7.33,
        8.78,  7.67,  6.21,  7.08,  7.05,  7.98,  8.6 ,  7.9 ,  7.92,
        7.03,  8.16, 12.25,  8.66,  5.82,  6.11,  8.3 ,  7.91,  8.15,
        8.99,  6.55,  6.42,  6.91,  7.13, 13.89,  6.37,  6.61,  6.89,
        2.69,  6.16,  5.9 ,  8.44,  6.7 ,  8.94,  8.69,  2.59, 10.19,
        7.34,  9.78,  9.9 ,  6.23,  8.28,  7.24,  2.09,  6.77, 10.65,
       10.58,  9.35,  7.18, 13.19,  8.46, 11.09,  9.11,  7.95, 12.09,
        6.65, 14.34,  7.68,  8.31,  8.8 ,  5.47,  6.49,  7.1 ,  8.76,
       13.88, 11.5 ,  7.77, 11.22,  7.19,  5.91,  8.11,  6.71,  7.45,
        9.8 ,  7.52,  7.54,  7.85,  8.24, 16.43,  7.93,  9.79, 10.06,
        7.99,  7.79,  7.11, 11.51,  9.98,  9.63, 10.13, 13.12,  8.45,
        8.73,  8.25,  7.6 , 12.93,  8.77,  9.58,  9.36,  7.97,  9.91,
        8.82,  7.63,  7.7 ,  8.72,  7.22,  7.89,  9.1 ,  7.51, 12.72,
       11.08,  7.64,  8.47,  9.13, 11.34, 12.84, 10.66, 12.74,  8.55,
       10.86,  9.08, 11.29,  6.74, 10.3 , 13.5 , 11.03,  9.94, 10.92,
        8.36,  8.92, 10.31,  8.42, 10.29,  8.71,  6.43,  8.61, 10.44,
       10.38,  6.4 ,  1.88,  9.68,  2.56,  9.53,  9.4 ,  8.63,  7.87,
        7.44, 11.06,  9.21,  9.23,  6.58,  8.52, 10.09,  7.21,  9.7 ,
       10.26, 12.16,  7.41,  9.64, 10.69,  8.53, 14.52,  6.98,  8.14,
        8.58, 13.86, 10.15,  8.37, 14.36,  9.61, 11.39, 15.98, 13.87,
        9.55,  8.02,  8.64, 12.85,  9.39, 13.28, 11.9 ,  8.79,  9.66,
       11.46,  8.89, 11.19,  8.9 ,  8.4 , 10.72, 10.34, 12.6 ,  9.57,
        9.09,  7.82,  7.32,  9.19, 15.27, 10.01,  7.49, 11.25, 11.01,
       12.59, 11.66,  7.37, 12.55, 10.87, 12.2 ,  7.8 ,  2.48,  8.04,
       11.72,  8.34, 14.18,  2.11, 10.89,  8.98, 12.17, 10.07, 12.54,
        9.2 ,  9.04, 12.86, 11.16, 10.76,  8.01, 10.21,  7.71, 10.53,
       12.51,  6.9 , 11.3 ,  8.85, 10.02, 12.4 ,  9.24, 10.37,  7.42,
        8.48,  8.21, 11.04, 10.55, 16.44, 10.78, 11.87,  9.86,  9.82,
       10.81,  9.97,  7.61,  9.76, 10.47, 10.39,  7.58,  9.49, 12.66])

In [48]:
# Check values in Column "OddAway" in file 2
df2 = df2[df2["OddAway"].notnull()]
df2["OddAway"].unique()

array([ 4.3 ,  4.6 ,  3.9 , ..., 28.12, 21.58, 10.25], shape=(1767,))

In [49]:
# Check values in Column "MaxHome" in file 2
df2 = df2[df2["MaxHome"].notnull()]
df2["MaxHome"].unique()

array([ 1.6 ,  2.2 ,  2.1 , ..., 14.8 , 13.27,  9.99], shape=(1095,))

In [50]:
# Check values in Column "MaxDraw" in file 2
df2 = df2[df2["MaxDraw"].notnull()]
df2["MaxDraw"].unique()

array([ 3.85,  2.85,  3.1 ,  2.9 ,  3.2 ,  2.88,  3.25,  3.4 ,  3.15,
        3.5 ,  3.35,  3.65,  5.  ,  9.  ,  3.  ,  3.05,  3.6 ,  2.95,
        3.55,  6.  ,  3.45,  4.1 ,  4.6 ,  7.  ,  5.5 ,  3.39,  3.75,
        4.  ,  4.33,  3.8 ,  3.3 ,  3.29,  7.5 ,  3.9 ,  4.5 ,  4.4 ,
        3.42,  4.75,  3.7 ,  6.75,  3.63,  4.2 ,  4.8 ,  4.45,  5.3 ,
        4.31,  6.2 ,  4.85,  5.25,  5.6 ,  3.74,  3.27,  3.49,  3.56,
        3.62,  4.48,  3.32,  3.38,  4.32,  6.5 ,  2.87,  4.35,  5.15,
        3.79,  4.7 ,  5.96,  2.8 ,  2.75,  6.55,  5.55,  6.05,  8.  ,
        3.95,  6.25,  6.15,  4.17,  3.37,  5.75,  4.65,  5.8 ,  3.77,
        4.25,  3.21,  3.67,  6.4 ,  3.48,  3.53,  7.8 ,  5.9 ,  6.16,
        5.33,  3.78,  3.51,  3.47,  3.33,  3.59,  3.41,  5.2 ,  4.27,
        3.34,  3.44,  3.69,  4.93,  6.3 ,  3.43,  3.58,  5.05, 11.  ,
        5.73,  3.13,  3.31,  2.93,  3.61,  5.41,  6.27,  4.15,  4.05,
        3.76,  5.24,  2.96,  6.8 ,  4.3 ,  3.84,  4.64,  3.83,  4.55,
        5.94,  3.52,  3.73,  6.56,  3.16,  3.28,  4.37,  5.65,  3.46,
        3.23,  3.11,  3.64,  4.78,  8.25,  7.6 ,  7.77,  7.82,  4.36,
        3.36,  6.04,  4.9 ,  5.12,  5.7 ,  4.73,  3.88,  5.49,  6.7 ,
        5.45,  5.1 ,  5.53,  4.86,  3.92,  3.54,  7.7 ,  3.18,  7.71,
        3.26,  4.21,  4.02,  7.29,  7.31,  3.82,  6.26,  7.1 ,  6.46,
        3.66,  5.84,  8.78,  4.06,  3.06,  3.02,  2.92,  6.95,  3.91,
        3.01,  2.83,  3.96,  2.82,  2.84,  2.97,  3.04,  2.94,  2.86,
        3.12,  3.08,  4.83,  6.38,  5.18,  2.65,  2.7 ,  3.14,  4.53,
        2.79,  3.89,  2.72,  5.21,  5.38,  3.93,  2.45,  9.2 ,  3.17,
        7.2 ,  6.85,  3.71,  4.12,  6.59,  4.38,  3.86,  5.4 ,  5.52,
        2.74,  2.98,  7.16,  5.01,  6.6 ,  3.81,  5.85,  3.68,  2.91,
        4.01,  2.38,  7.15,  4.24,  4.67,  8.02,  2.3 ,  2.5 ,  5.66,
        6.65,  5.34,  5.35,  2.55,  7.75,  2.35,  9.44,  5.04,  7.05,
       10.  ,  2.1 ,  3.57,  2.25,  2.76,  2.66,  6.64,  7.84,  6.17,
        1.82,  2.2 ,  5.44,  4.04,  3.22,  2.64,  6.33,  6.72,  2.56,
        2.52,  4.09,  4.14,  2.54,  2.15,  2.51,  5.64,  7.25,  2.4 ,
        1.8 ,  9.5 ,  2.6 ,  1.85,  1.75,  7.47,  6.1 ,  6.12,  4.95,
        4.13,  4.59,  7.3 ,  9.9 ,  3.87,  2.81,  3.03,  7.38,  8.64,
        3.98,  5.58,  4.23,  3.24,  5.13,  4.68,  8.1 ,  6.01,  6.53,
        5.68,  8.82,  5.47,  5.22, 11.25,  7.92, 23.  ,  4.22,  4.08,
        6.9 ,  8.65,  7.4 ,  4.18,  3.97,  5.78,  3.72,  5.95,  4.46,
        6.09,  5.37,  6.45,  7.03,  8.75,  6.44,  5.93,  2.13,  2.  ,
        4.58,  2.11,  1.9 ,  2.49,  4.61,  4.42,  2.63,  1.53,  8.5 ,
        2.53,  8.18,  6.54,  6.23, 13.9 , 13.2 ,  6.35,  5.76,  6.02,
        4.51,  4.87,  4.77,  3.99,  5.03,  4.26,  7.26,  7.07,  7.78,
        3.07,  7.11,  4.03,  3.94,  6.43,  3.09,  5.91,  5.14,  4.16,
        4.56,  4.07,  8.22,  4.66,  4.28,  4.19,  4.72,  6.18,  4.82,
        4.76,  3.19,  6.34,  4.43,  4.29,  2.99,  8.15,  5.86,  4.41,
        8.42,  7.59,  5.51,  4.44,  5.82,  5.48,  4.54,  4.11,  4.39,
        6.07,  4.92,  4.99,  5.79,  4.52,  5.72,  5.07,  4.91,  6.39,
        4.63,  4.98,  6.13,  5.36,  5.16,  9.19,  6.58,  1.55,  7.49,
        5.54,  4.81,  6.22,  6.98,  5.88,  9.09,  6.83,  7.73,  6.67,
        6.78,  2.89,  8.55,  4.34,  8.6 ,  8.27,  5.39,  5.42,  5.08,
        6.11,  7.94,  4.79,  8.08,  5.09,  6.52,  9.8 ,  4.88,  4.97,
        6.94,  6.76,  5.19,  8.77,  7.22,  4.57,  4.96,  4.71,  4.69,
        9.1 ,  7.13,  8.38,  7.43,  6.68,  6.88,  6.51,  4.47,  4.62,
        7.63,  5.69,  8.7 ,  5.62,  4.49,  6.03,  5.11,  5.81,  2.78,
        5.27,  5.43,  4.94,  7.76,  5.02,  6.08,  1.5 ,  5.28,  5.97,
        1.51,  1.69,  5.26,  5.31,  5.17,  5.32,  6.61,  6.62,  5.83,
        8.2 ,  8.23,  5.59,  4.74,  9.4 ,  9.3 ,  9.05,  4.84, 10.15,
        8.16, 11.5 ,  8.29,  5.63,  8.3 ,  6.82,  7.58,  5.98,  7.95,
        8.4 ,  5.06,  7.68,  5.23,  8.06,  8.35,  6.06,  5.61,  7.69,
        6.42,  6.31,  7.45,  7.28, 10.1 ,  8.91,  6.79,  7.44,  7.51,
        7.41,  6.14,  8.8 ,  7.67,  5.56,  9.06,  6.81,  6.29,  9.95,
        1.91,  2.29,  5.71,  7.36,  4.89,  2.77,  1.7 ,  2.33, 10.01,
        5.29,  7.65,  8.17, 12.  ,  9.76,  1.76, 18.  ,  9.6 ,  8.03,
       10.87, 17.11,  9.01,  6.99,  1.95,  6.19,  8.51, 10.61, 13.  ,
       15.  ,  7.54,  5.46,  7.17, 11.8 ,  8.46,  7.48,  9.35,  9.54,
        6.66,  7.33,  8.28,  7.79,  5.99,  7.09,  5.74, 11.21, 17.  ,
       14.02,  7.12, 15.8 ,  9.04,  7.66, 10.34,  8.45, 10.58, 11.02,
        9.7 ,  1.6 ,  5.57,  1.52,  2.48,  5.89,  2.12,  8.24,  1.67,
        1.92,  1.81,  2.59,  2.05,  8.72,  2.36,  1.57,  1.65,  1.45,
       29.28,  7.74, 10.91,  6.36,  5.92, 22.23,  6.86,  7.21, 12.13,
        8.31,  7.85, 12.41,  7.23,  8.04, 12.71,  6.37,  9.83,  8.81,
       10.2 , 10.5 ,  8.09, 13.5 ,  6.47, 12.49,  7.37, 17.45, 12.28,
        6.69,  7.83,  5.67,  9.82,  6.28,  8.53, 15.43,  7.42,  7.87,
       15.86, 13.54, 11.64, 14.  , 11.83, 13.02,  9.96,  8.44, 19.  ,
        7.53, 16.15,  7.35, 18.18,  6.84,  7.9 ,  7.88, 10.66,  8.39,
        9.21,  7.57,  7.55, 15.95,  6.74, 13.19,  7.52,  8.9 ,  6.57,
       10.22, 12.42,  6.73,  8.49, 12.3 ,  9.08,  8.73,  7.93, 13.15,
        8.05,  9.97, 11.15,  9.12,  7.72,  8.41,  2.58,  6.89,  2.28,
        1.83,  8.76,  1.43,  7.62,  9.42, 12.24,  8.52,  8.71,  6.32,
       10.25, 10.85,  8.84, 12.47,  8.83, 11.73,  7.39,  9.66,  6.41,
       15.76, 12.56,  9.78,  7.01,  7.81, 12.83, 10.44,  8.95, 14.87,
       12.74, 13.95, 16.  , 10.9 ,  7.04, 18.88, 20.36, 21.  , 22.68,
        6.24,  6.21, 21.35,  9.94,  5.77, 10.4 , 14.01,  9.23, 10.17,
       10.06,  7.99,  8.61, 17.25, 14.32, 11.79, 19.8 ,  7.08,  7.14,
       13.17, 22.25, 12.38,  7.24, 19.75,  8.32, 20.  , 26.  ,  8.21,
        8.74, 25.  , 14.9 , 18.5 ,  2.68,  5.87,  1.96,  2.03, 11.4 ,
        7.06,  8.58, 10.78,  9.86,  9.81, 17.41,  6.77, 12.5 ,  9.75,
        9.91, 13.36, 11.54,  8.07, 13.09, 12.46,  7.86,  6.63, 15.34,
        7.46, 13.33,  6.87,  7.97, 12.1 , 11.17,  9.15, 13.13,  6.71,
       15.09, 10.76, 18.8 , 11.55,  7.96, 12.15, 21.29, 11.45, 12.22,
        6.91, 14.06, 13.14, 10.02, 15.05,  9.25,  8.68,  9.92, 10.3 ,
       10.8 ,  8.33, 12.6 , 11.87, 11.08,  8.94,  8.57, 10.7 , 33.  ,
       11.37, 17.57, 12.61, 30.  ,  7.02, 13.84, 14.3 ,  9.51, 13.25,
       10.03,  7.56, 12.2 , 14.5 , 10.86,  9.85,  8.26,  7.27,  7.19,
       11.66, 10.54,  7.89, 20.94,  9.64,  8.85, 10.68,  6.48, 11.39,
       10.32,  9.71, 17.33, 13.22,  8.14,  9.38, 12.27,  8.12, 10.19,
        9.43, 15.18,  8.98, 17.5 , 10.26, 10.33,  9.45, 10.69,  9.55,
       11.51, 10.82,  6.97, 23.54, 10.55, 11.3 ,  9.17, 12.8 , 13.62,
       10.39,  6.92,  8.01, 16.5 , 10.97,  8.79, 12.65, 11.01, 16.67,
        9.65, 10.65, 10.52, 10.64, 15.5 , 17.77, 12.4 , 14.19, 13.28,
        9.36, 15.37, 10.98, 11.2 ,  9.73, 13.48, 14.53,  6.96, 11.04,
       14.6 , 12.7 , 10.75,  9.62, 11.38,  9.16, 20.38, 10.16, 10.46,
        9.13,  7.61,  8.92,  6.93,  9.89, 15.72,  6.49, 10.72,  9.28,
        9.33, 10.05, 12.58,  7.91, 11.92, 11.1 ,  1.98,  2.07,  7.64,
       11.34,  9.02, 12.87, 12.75, 13.68,  8.67,  8.59, 19.5 , 15.25,
        8.19, 13.85,  2.57,  9.61, 13.01, 10.27, 13.75, 11.14, 13.21,
       16.53, 16.75,  8.66,  9.07, 10.21, 14.75,  9.77,  7.32, 11.63,
       12.06, 11.75, 10.13,  8.86, 13.59, 13.74,  8.37, 17.93, 11.41,
        9.84,  2.02,  7.18, 11.06,  9.63, 13.06, 19.42,  8.34, 11.68,
       11.07, 12.37, 19.87, 12.35, 24.75, 17.71, 14.38, 15.23,  9.69,
        8.89, 12.23, 10.29,  8.96,  9.58, 24.  , 14.2 , 11.31,  8.69])

In [51]:
# Check values in Column "MaxAway" in file 2
df2 = df2[df2["MaxAway"].notnull()]
df2["MaxAway"].unique()

array([ 9.  ,  4.3 ,  4.65, ..., 12.9 , 13.48, 15.79], shape=(1799,))

In [52]:
# Drop Duplicates in file 2
df2.drop_duplicates(inplace=True)

In [54]:
# Final Validation for file 2
print(df2.isnull().sum())
print(" ")
print(df2.describe())
print(" ")
print(df2.dtypes)

Division     0
MatchDate    0
HomeTeam     0
AwayTeam     0
Form3Home    0
Form5Home    0
Form3Away    0
Form5Away    0
FTHome       0
FTAway       0
FTResult     0
HTHome       0
HTAway       0
HTResult     0
OddHome      0
OddDraw      0
OddAway      0
MaxHome      0
MaxDraw      0
MaxAway      0
dtype: int64

           Form3Home     Form5Home      Form3Away      Form5Away  \
count  147794.000000  147794.00000  147794.000000  147794.000000
mean        3.981860       6.72844       4.222100       6.946710
std         2.369449       3.24129       2.388777       3.252671
min         0.000000       0.00000       0.000000       0.000000
25%         2.000000       4.00000       3.000000       5.000000
50%         4.000000       7.00000       4.000000       7.000000
75%         6.000000       9.00000       6.000000       9.000000
max         9.000000      15.00000       9.000000      15.000000

              FTHome         FTAway         HTHome         HTAway  \
count  147794.000000  147794.000000  147794.000000  147794.000000
mean        1.479586       1.157902       0.653660       0.506671
std         1.253099       1.118218       0.810125       0.718900
min         0.000000       0.000000       0.000000       0.000000
25%         1.000000       0.000000       0.000000       0.000000
50%         1.000000       1.000000       0.000000       0.000000
75%         2.000000       2.000000       1.000000       1.000000
max        10.000000      13.000000       7.000000       7.000000

             OddHome        OddDraw        OddAway        MaxHome  \
count  147794.000000  147794.000000  147794.000000  147794.000000
mean        2.502761       3.648478       4.058066       2.661348
std         1.409333       0.893765       2.781578       1.666580
min         0.000000       1.290000       1.030000       1.030000
25%         1.800000       3.250000       2.600000       1.860000
50%         2.200000       3.400000       3.320000       2.300000
75%         2.700000       3.750000       4.500000       2.850000
max        37.350000      21.000000      51.000000      76.000000

             MaxDraw        MaxAway
count  147794.000000  147794.000000
mean        3.854193       4.495916
std         1.095105       3.708443
min         1.430000       1.060000
25%         3.390000       2.730000
50%         3.570000       3.550000
75%         3.900000       4.910000
max        33.000000     201.000000

Division      object
MatchDate     object
HomeTeam      object
AwayTeam      object
Form3Home    float64
Form5Home    float64
Form3Away    float64
Form5Away    float64
FTHome       float64
FTAway       float64
FTResult      object
HTHome       float64
HTAway       float64
HTResult      object
OddHome      float64
OddDraw      float64
OddAway      float64
MaxHome      float64
MaxDraw      float64
MaxAway      float64
dtype: object

In [61]:
# Export Data to csv files
df1.to_csv("EloRatings.csv", index=False)
df2.to_csv("Matches.csv", index=False)